/* Basic Styling */

body {
  font-family: 'Raleway', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #eaf0ef;
}

container {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

h1, h2 {
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-weight: 500;
}

.lead {
  font-weight: bold;
}

.card {
  transition: all .2s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}

.card,a {
  color: black;
  text-decoration: none;
}

.card-columns {
  display: inline-block;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  padding-top: 25px;
  padding-bottom: 25px;
}

.bio {
  max-width: 65%;
  text-align: center;
}

div.footer {
  padding-top: 25px;
  background-color: #d8dfdf;
}

.jumbotron{
  background-color: #eaf0ef;
  margin-bottom: 0;
}

.my-4 {
  margin-left: 30%;
  margin-right: 30%;
}

.navbar-custom{
  background-color: #eaf0ef;
}

.nav-item {
  text-align: center;
}

.display-4, .navbar-brand {
  font-family: 'Comfortaa', cursive;
  color: #0c6f65;
  font-weight: 500;
}

.btn:hover {
  background-color: #0c6f65;
}

.blog {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.blog > ul {
  display: inline-block;
}

/** Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
  margin: 0; padding: 0;
}

/** Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight {
  margin-bottom: 15px;
}

.page-title {
  margin-top: 20px;
  margin-bottom: 30px;
}

.credit {
  font-size: 12px;
}

/** Images */
img {
  max-width: 100%; margin: auto;
}

.hello, .profile, .blog-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-radius: 50%;
  border: 3px solid #128175;
}

.blog-welcome {
  display: block;
  width: 200px;
  height: 200px;
}

.blog-image {
  display: block;
  margin-bottom: 25px;
}

ul, ol {
  padding: 0px 25px;
}

.construction {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid yellow;
}

/** Headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}

/** Links */
a {
  color: #0c6f65;
}

#blog-post a {
  color: #111;
}

#blog-link {
  text-decoration: none;
  color: black;
}

#blog-quote {
  text-decoration: none;
  color: white;
}

.card:hover {
  border: 1px solid #128175;
}

a:hover {
  color: #111;
  text-decoration: underline;
}

#foot-col a {
  color: #0c6f65;
}

#foot-col i {
  color: #0c6f65;
}

.testing-def {
  margin-bottom: 15px;
}

.project-info, .project-info1, .sketch-info {
  max-width: 50%;
  font-size: 14px;
}

.sketch-info ul li {
  list-style: none;
}

.sketch-info ul {
  padding-left: 0;
}

.testing-def {
  margin-bottom: 15px;
}

.container-1 {
  display: flex;
  flex-flow: row wrap;
}

.quality-text {
  /* float: left; */
  max-width: 50%;
  padding-right: 15px;
}

.quality-table {
  /* float: left; */
  max-width: 50%;
  /* margin-top: 30px; */
  /* max-height: 10%; */
}

.container-3 {
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: center;
  margin-bottom: 15px;
}

.sketchnotes-text {
  order: 2;
  max-width: 40%;
  padding-right: 15px;
}

.sketchnotes-img {
  order: 1;
  max-width: 60%;
  max-height: auto;
}

.page-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.previous-post {
  order: 1;
}

.portfolio-return {
  text-align: center;
  order: 2;
}

.next-post {
  /* margin-left: 70%; */
  order: 3;
}

.container-2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.quality-1 {
  order: 1;
  max-width: 50%;
}

.quality-characteristics {
  order: 2;
  max-width: 50%;
}

.risk-table {
  order: 3;
  max-width: 50%;
}

.risks-list {
  order: 4;
  max-width: 50%;
}

.project-info1 {
  order: 5;
}

.container-4 {
  display: flex;
  flex-flow: row-reverse wrap;
}

.br1 {
  order: 1;
}

.bug-report1 {
  max-height: 500px;
  max-width: 50%;
  order: 2;
}

.br2 {
  order: 4;
  max-width: 50%;
}

.bug-report2 {
  max-height: 500px;
  max-width: 50%;
  order: 3;
}

.br3 {
  order: 5;
  max-width: 50%;
  padding-right: 15px;
}

.project-info {
  order: 6;
  margin-left: 670px;
  margin-top: -120px;
  margin-bottom: 15px;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 5px;
}

/** Clearfix */
.footer-col-wrapper:after, .wrapper:after { content: ""; display: table; clear: both; }

/** Icons */
/* .svg-icon { width: 16px; height: 16px; display: inline-block; fill: #828282; padding-right: 5px; vertical-align: text-top; } */

/* @media screen and (max-width: 600px) { .site-nav { position: absolute; top: 9px; right: 15px; background-color: #fdfdfd; border: 1px solid #e8e8e8; border-radius: 5px; text-align: right; } .site-nav label[for="nav-trigger"] { display: block; float: right; width: 36px; height: 36px; z-index: 2; cursor: pointer; } .site-nav .menu-icon { display: block; float: right; width: 36px; height: 26px; line-height: 0; padding-top: 10px; text-align: center; } .site-nav .menu-icon > svg { fill: #424242; } .site-nav input ~ .trigger { clear: both; display: none; } .site-nav input:checked ~ .trigger { display: block; padding-bottom: 5px; } .site-nav .page-link { display: block; padding: 5px 10px; margin-left: 20px; } .site-nav .page-link:not(:last-child) { margin-right: 0; } } */

/* Footer */
.footer {
  max-width: 100%;
}

/* @media screen and (max-width: 800px) { .footer-col-1, .footer-col-2 { width: -webkit-calc(50% - (30px / 2)); width: calc(50% - (30px / 2)); } .footer-col-3 { width: -webkit-calc(100% - (30px / 2)); width: calc(100% - (30px / 2)); } }

@media screen and (max-width: 600px) { .footer-col { float: none; width: -webkit-calc(100% - (30px / 2)); width: calc(100% - (30px / 2)); } } */

/** Posts */
.post-header {
  margin-bottom: 30px;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
}
/*# sourceMappingURL=main.css.map */
