/* Basic Styling */

body {
  background-color: #eaf0ef;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  min-height: 100vh;
}

container {
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
}

/** Headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}

h1, h2 {
  text-align: center;
}

.card {
  transition: all .2s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}

.card,a {
  color: black;
  text-decoration: none;
}

.card-columns {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
}

.container {
  padding-bottom: 25px;
  padding-top: 25px;
}

.bio {
  max-width: 65%;
  text-align: center;
}

div.footer {
  background-color: #d8dfdf;
  padding-top: 25px;
}

.jumbotron{
  background-color: #eaf0ef;
  margin-bottom: 0;
}

.my-4 {
  margin-left: 30%;
  margin-right: 30%;
}

.navbar-custom{
  background-color: #eaf0ef;
}

.nav-item {
  text-align: center;
}

.display-4, .navbar-brand {
  color: #0c6f65;
  font-weight: 400;
}

.btn:hover {
  background-color: #0c6f65;
}

.blog {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.blog > ul {
  display: inline-block;
}

/** Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
  margin: 0;  padding: 0;
}

/** Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight {
  margin-bottom: 15px;
}

.page-title {
  margin-bottom: 30px;
  margin-top: 20px;
}

.credit {
  font-size: 12px;
}

/** Images */
img {
  max-width: 100%; margin: auto;
}

.hello, .profile, .blog-image {
  border: 3px solid #128175;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.blog-welcome {
  display: block;
  height: 200px;
  width: 200px;
}

.blog-image {
  display: block;
  margin-bottom: 25px;
}

ul, ol {
  padding: 0 25px;
}

/** Links */
a {
  color: #0c6f65;
}

#blog-post a {
  color: #111;
}

#blog-link {
  color: black;
  text-decoration: none;
}

#blog-quote {
  color: white;
  text-decoration: none;
}

.card:hover {
  border: 1px solid #128175;
}

a:hover {
  color: #111;
  text-decoration: underline;
}

#foot-col a {
  color: #0c6f65;
}

#foot-col i {
  color: #0c6f65;
}

.testing-def {
  margin-bottom: 15px;
}

.sketch-info {
  max-width: 40%;
}

.sketch-info ul li {
  list-style: none;
}

.sketch-info ul {
  padding-left: 0;
}

.testing-def {
  margin-bottom: 15px;
}

.container-1 {
  display: flex;
  flex-flow: row wrap;
}

.quality-text {
  max-width: 50%;
  padding-right: 15px;
}

.quality-table {
  max-width: 50%;
}

.project-info2 {
  margin-bottom: 15px;
  margin-left: 690px;
  margin-top: -140px;
}

.container-3 {
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: center;
  margin-bottom: 15px;
}

.sketchnotes-text {
  order: 2;
  max-width: 40%;
  padding-right: 15px;
}

.sketchnotes-img {
  order: 1;
  max-width: 60%;
}

.page-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.previous-post {
  order: 1;
}

.portfolio-return {
  order: 2;
  text-align: center;
}

.next-post {
  order: 3;
}

.container-2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.quality-1 {
  max-width: 50%;
  order: 1;
}

.quality-characteristics {
  max-width: 50%;
  order: 2;
}

.risk-table {
  max-width: 50%;
  order: 3;
}

.risks-list {
  max-width: 50%;
  order: 4;
}

.project-info1 {
  order: 5;
}

.container-4 {
  display: flex;
  flex-flow: row-reverse wrap;
}

.br1 {
  order: 1;
}

.bug-report1 {
  margin-bottom: 15px;
  max-height: 500px;
  max-width: 50%;
  order: 2;
}

.br2 {
  max-width: 50%;
  order: 4;
}

.bug-report2 {
  margin-bottom: 15px;
  max-height: 500px;
  max-width: 50%;
  order: 3;
}

.br3 {
  max-width: 50%;
  order: 5;
  padding-right: 15px;
}

.project-info {
  margin-bottom: 15px;
  margin-right: 100px;
  margin-top: -120px;
  max-width: 100%;
  order: 6;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 5px;
}

/* Footer */
.footer {
  max-width: 100%;
}

/** Posts */
.post-header {
  margin-bottom: 30px;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
}
