@media screen and (max-width: 800px){

  .container-1, .container-2, .container-3, .container-4, .container-5 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .quality-text, .quality-1, .sketchnotes-img, .br1 {
    order: 1;
  }

  .quality-table, .quality-characteristics, .sketchnotes-text, .bug-report1 {
    order: 2;
  }

  .risk-table, .br2, .project-info2 {
    order: 3;
  }

  .risks-list, .bug-report2 {
    order: 4;
  }

  .project-info1, .br3  {
    order: 5;
  }

  .project-info {
    margin-left: 5%;
    margin-right: 5%;
    order: 6;
  }

  .bio, .container-1, .container-2, .container-3, .container-4, .container-5, .project-info, .project-info1, .project-info2, .sketch-info {
    max-width: 90%;
  }

  .quality-text, .quality-1, .sketchnotes-img, .br1, .quality-table, .quality-characteristics, .sketchnotes-text, .bug-report1, .risk-table, .br2, .risks-list, .bug-report2, .br3 {
    max-width: 100%;
  }

  .project-info, .project-info1, .project-info2, .sketch-info {
    font-size: 14px;
  }

  .container-1, .container-2, .container-3, .container-4, .container-5, .sketch-info, .project-info2 {
    margin-left: auto;
    margin-right: auto;
  }

  .quality-table, .quality-characteristics, .sketchnotes-text, .bug-report1, .sketchnotes-img, .project-info2, .project-info, .project-info1 {
    margin-bottom: 1em;
  }

  .br3, .risks-list, .bug-report2 {
    margin-top: 1em;
  }

  .project-info2, .project-info {
    margin-top: 0;
  }
}

@media screen and (min-width: 576px) and (max-width: 800px){
  footer {
    max-width: 100%;
  }

  .col-sm {
    margin-left: auto;
    margin-right: auto;
    max-width: 30%;
    text-align: center;
  }

  .col-sm li {
    font-size: 12px;
  }

  #foot-col {
    padding-right: 0;
  }
}

@media screen and (min-width: 801px) and (max-width: 1200px){
  .container-1, .container-2, .container-3, .container-4 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .quality-1, .sketchnotes-img, .br1, .quality-text {
    order: 1;
  }

  .quality-characteristics, .bug-report1, .quality-table, .sketchnotes-text {
    order: 2;
  }

  .risk-table, .bug-report2, .project-info2 {
    order: 3;
  }

  .risks-list, .br2 {
    order: 4;
  }

  .br3 {
    order: 5;
  }

  .project-info {
    margin-right: 0;
    order: 6;
  }

.container-1, .container-2, .container-3, .container-4, .project-info2, .sketch-info, .project-info1  {
    margin-left: auto;
    margin-right: auto;
  }

  .project-info, .project-info1, .project-info2, .sketch-info {
    font-size: 14px;
  }

  .sketchnotes-img, .br1, .quality-table, .project-info2, .risks-list, .br3 {
    margin-bottom: 1em;
  }

  .project-info2, .bug-report1, .project-info  {
      margin-top: 0;
    }

  .quality-text {
    max-width: 60%;
  }

  .container-1, .container-2, .container-3, .container-4, .sketchnotes-img, .br1, .sketchnotes-text {
    max-width: 100%;
  }

  .quality-table {
    max-width: 40%;
  }

  .sketch-info, .project-info1 {
    max-width: 90%;
  }

  .quality-1, .quality-characteristics, .bug-report1, .risk-table, .risks-list, .bug-report2, .br2, .br3 {
    max-width: 48%;
  }
}
