<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>LG Portfolio | {{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/img/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/main.css">
    <script src="https://kit.fontawesome.com/a66413bb26.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
      <img src="/img/student.png" width=35 height=35>
  <a class="navbar-brand" href=/index/>LG Portfolio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href=/portfolio/>Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=/about/>About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=/contact/>Contact</a>
      </li>
    </ul>
  </div>
</nav>

    {{ content }}

    <div class="container text-center footer">
      <div class="row">
        <div class="col-sm">
          <h2>Site Map</h2>
          <ul class="list-unstyled">
              <li>
                  <a href="/" alt="Return to home page footer link">Home</a>
              </li>
              <li>
                  <a href="/portfolio/" alt="Return to portfolio page footer link">Portfolio</a>
              </li>
              <li>
                  <a href="/about/" alt="Return to about page footer link">About</a>
              </li>
              <li>
                  <a href="/contact/" alt"Return to contact page footer link">Contact</a>
              </li>
          </ul>
        </div>
        <div class="col-sm">
          <h2>Social Media</h2>
          <ul class="list-unstyled">
              <i class="fab fa-github"></i>
              <li><a href="https://github.com/laurajeangriffiths">laurajeangriffiths</a></li>
          </ul>
        </div>
        <div class="col-sm">
          <h2>Contact</h2>
          <ul class="list-unstyled">
              <i class="fas fa-envelope"></i>
              <li><a href="mailto:laurajeangriffiths@gmail.com">laurajeangriffiths@gmail.com</a></li>
          </ul>
        </div>
      </div>
      <p class="credit">Icon made by Darius Dan from www.flaticon.com</p>
    </div>

  </body>
</html>
