---
layout: default
---

<div class="jumbotron text-center">
  <img src="/img/student.png" width=200 height=200>
  <h1 class="display-4">Hello, I'm Laura Griffiths.</h1>
  <p class="lead">Welcome to my software testing portfolio and blog</p>
  <hr class="my-4">
  <p>Check out my work: <i class="fas fa-angle-down"></i></p>
  <a class="btn btn-outline-dark btn-lg" href=/portfolio/ role="button">Portfolio</a>
</div>

<hr>

<div class="blog">
  <h2>Latest Blog Posts</h2>
  <ul id="blog-post">
    {% for post in site.categories.blog %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>

<hr>
