---
layout: default
---
<container>
  <h1 class="page-title">Portfolio</h1>

  <div class="card-columns">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">What is quality?</h5>
        <p class="card-text">And why it matters.</p>
      </div>
    </div>
    <div class="card p-3">
      <blockquote class="blockquote mb-0 card-body">
        <p>Quality and Risk</p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            Determining quality characteristics and risk analysis.
          </small>
        </footer>
      </blockquote>
    </div>
    <a href="/blog/2020/06/17/sketchnotes.html" alt="Link to sketchnotes blog post">
      <div class="card border-primary mb-3">
        <img src="/img/blog/Sketchnotes.jpg" class="card-img-top" alt="Image of sketchnotes">
        <div class="card-body">
          <h5 class="card-title">Sketchnotes</h5>
          <p class="card-text">Sketchnotes from exploratory testing.</p>
        </div>
      </a>
    </div>
      <a href="/blog/2020/05/04/what-is-software-testing.html" alt="Link to software testing definition blog post">
        <div class="card bg-info text-white text-center p-3">
          <blockquote class="blockquote mb-0">
            <p>What is software testing?</p>
            <footer class="blockquote-footer text-white">
              <small>
                Software Testing definintion by <cite title="Source Title">Laura Griffiths</cite>
              </small>
            </footer>
          </blockquote>
        </div>
      </a>
    <a href="/blog/2020/05/04/bug-reports.html" alt="Link to bug reports blog post">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Bug Reports</h5>
          <p class="card-text">Bug reports created after exploratory testing.</p>
        </div>
      </div>
    </a>
    <div class="card p-3 text-right">
      <blockquote class="blockquote mb-0">
        <p>Summary Report Findings</p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            Testing metrics and findings.
          </small>
        </footer>
      </blockquote>
    </div>
  </div>
</container>
