---
layout: default
---

<h1 class="page-title">Portfolio</h1>

  <div class="card-columns">
      <div class="card bg-info text-white text-center p-3">
        <a href="/portfolio/2020/06/17/what-is-quality.html" id="blog-quote" alt="Link to quality definition blog post">
          <blockquote class="blockquote mb-0">
            <p>What is quality?</p>
            <footer class="blockquote-footer text-white">
              <small>
                And why it matters.
              </small>
            </footer>
          </blockquote>
        </a>
      </div>
    <div class="card text-center mb-3">
      <a href="/portfolio/2020/06/19/quality-and-risk.html" id="blog-link" alt="Link to quality and risk blog post">
      <img src="/img/blog/Compass.jpg" class="card-img-top" id="blog-link" alt="Image of compass">
      <blockquote class="blockquote mb-0 card-body">
        <p>Quality and Risk</p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            Exploratory testing: Part 1
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card text-center mb-3">
        <a href="/portfolio/2020/06/17/notetaking.html" id="blog-link" alt="Link to sketchnotes blog post">
          <img src="/img/blog/Sketchnotes.jpg" class="card-img-top" alt="Image of sketchnotes">
            <div class="blockquote mb-0 card-body">
              <p class="card-title">Notetaking</p>
              <footer class="blockquote-footer">
                <small class="text-muted">Exploratory testing: Part 2</small>
              </footer>
            </div>
        </a>
      </div>
        <div class="card bg-info text-white text-center p-3">
          <a href="/blog/2020/05/04/what-is-software-testing.html" id="blog-quote" alt="Link to software testing definition blog post">
          <blockquote class="blockquote mb-0">
            <p>What is software testing?</p>
            <footer class="blockquote-footer text-white">
              <small>
                Software Testing definintion by <cite title="Source Title">Laura Griffiths</cite>
              </small>
            </footer>
          </blockquote>
          </a>
        </div>
      <div class="card text-center mb-3">
        <a href="/portfolio/2020/05/04/bug-reports.html" id="blog-link" alt="Link to bug reports blog post">
        <img src="/img/blog/Magnifier.jpg" class="card-img-top" alt="Image of magnifying glass">
        <div class="blockquote mb-0 card-body">
          <p class="card-title">Bug Reports</p>
          <footer class="blockquote-footer">
            <small class="text-muted">Exploratory testing: Part 3</small>
          </footer>
        </div>
        </a>
      </div>
    <!-- <div class="card text-center mb-3">
      <a href="/portfolio/2020/06/19/summary-report.html" id="blog-link" alt="Link to summary report blog post">
      <img src="/img/blog/Info.jpg" class="card-img-top" id="blog-link" alt="Image of sketchnotes">
      <div class="blockquote mb-0 card-body">
        <p>Summary Report Findings</p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            Exploratory testing: Part 4
          </small>
        </footer>
      </div>
    </div> -->
    <div class="card text-center mb-3">
      <a href="/portfolio/2020/08/27/test-automation.html" id="blog-link" alt="Link to test automation blog post">
      <img src="/img/blog/Cogs.jpeg" class="card-img-top" alt="Image of cogs">
      <div class="blockquote mb-0 card-body">
        <p class="card-title">Test Automation</p>
        <footer class="blockquote-footer">
          <small class="text-muted">Test Automation Projects</small>
        </footer>
      </div>
      </a>
    </div>
  </div>
